<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Home</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<script src="js/main.js"></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<div class="bulb">
		<div class="bulb__glass">
			<object data="img/bulb.svg" type="image/svg+xml" id="bulb" width="100%"></object>
		</div>
		<div class="bulb__screw">
			<img src="img/screw.png" alt="Screw">
		</div>
	</div>

	<div class="switch">
		<a id="switch">Toogle</a>
	</div>

</body>
</html>
